<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shooting Game</title>
    <h1>Shooting Game Home Page</h1>
    <p>A target shooting game for physical projectiles across long distances.</p>
</head>
<body>
<p>Total number of game types: {{gameTypes}}<p>

<h2>Game Types</h2>
<ul>
    {% for gameType in gameTypes %}
    <li>
        <a HREF="{% url 'GameTypeDetail' gameType.id %}">{{gameType.name}}</a>
    </li>
    {% endfor %}
</ul>
<h2>Players</h2>
<ul>
    {% for player in players %}
    <li>
        <a HREF="{% url 'PlayerDetail' player.id %}">{{player.name}}</a>
    </li>
    {% endfor %}
</ul>
</body>

</body>
</html>