{% extends "base.html" %}
{% load static %}
{% block title %}Welcome!{% endblock %}

{% block content %}
<h1>Shooting Game Home Page</h1>
<p>A target shooting game for physical projectiles across long distances.</p>
<p><img src="{% static 'GeneralApp/BullseyeMeme.jpg' %}" width="500px"></p>
<h2>Game Types</h2>
<ul>
    {% for gameType in gameTypes %}
    <li>
        <a HREF="{% url 'GameTypeDetail' gameType.id %}">{{gameType.name}}</a>
    </li>
    {% endfor %}
</ul>
<h2>Players</h2>
<ul>
    {% for player in players %}
    <li>
        <a HREF="{% url 'PlayerDetail' player.id %}">{{player.name}}</a>
    </li>
    {% endfor %}
</ul>
<p><a href="{% url 'new' %}">Add New Character</a></p>
{% endblock %}